/* font import */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:wght@300&family=Work+Sans&display=swap");

/* css reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0, 0%, 98%);
  /* font-size: 1.4em; */
}
/* navbar  */
.nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 12px 40px rgba(128, 128, 128, 0.1);
  padding: 0 40px;
  background-color: #fff;
}

.nav__dark__mode {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

main {
  padding: 70px 70px;
}

form {
  display: flex;
  justify-content: space-between;
}

/* search-bar styles */

.search__wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 14.5px;
  left: 20px;
  width: 14px;
}

.placeholder {
 
  position: absolute;
  top: 0.75rem;
   right: 9rem;
   font-size: small;
  
}
.search {
  border: none;
  border-radius: 5px;
  height: 18px;
  width: 20rem;
  padding: 20px;
  outline: 0;
  background-color: #fff;
  box-shadow: 0 12px 40px rgba(128, 128, 128, 0.1);
}

.search:hover,
.search:focus {
  border: 1.5px solid hsl(209, 23%, 22%);
  background-color: white;
}


/* select dropdown styles */

.select {
    border: none;
    border-radius: 5px;
    height: 18px;
    width: 11.5rem;
    padding: 20px;
    outline: 0;
    background-color: #fff;
    box-shadow: 0 12px 40px rgba(128, 128, 128, 0.1);
    

}

